@model Category;

<form method="post" asp-action="Delete">

	<input asp-for="CategoryId" hidden />

	<div class="border p-3 mt-4 rounded-3">
		<div class="row pb-2">
			<h2 class="text-primary">Delete category</h2>
			<hr/>
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" disabled class="form-control"  />
		</div>
		<div class="mb-3">
			<label asp-for="Displayorder"></label>
			<input asp-for="Displayorder" disabled class="form-control"/>
		</div>
		<button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
		<a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to list</a>
	</div>
</form>

@*Pour empecher le rechargerment quand les champs n'ont pas de valeurs validées *@
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
